body {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    border-color: #6E7B91;
}

button {
    outline: none;
    border: 1px solid;
    border-color: #6E7B91;
    background-color: white;
    color: #6E7B91;
    border-radius: 5px;
    transition: all linear 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: #6E7B91;
    color: white;
}

div.switcher {
    display: flex;
    justify-content: space-between;
}

div.headerContainer {
    display: flex;
    justify-content: space-between;
}

#currentComic {
    max-width: 640px;
    max-height: 500px;
    min-width: 50px;
    min-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
    cursor: pointer;
}

#currentComic.loading {
    filter: blur(10px)
}